body {
    font-family: "Arial", sans-serif;
}
section {
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid white;
    border-radius: 50%;
    margin:5px 5px;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}



#p_one {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,a80077+35,a80077+35,c146a1+50,db36a4+100 */

  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 6px 3px #fff,  /* inner white */
    0 0 10px 6px #f0f, /* middle magenta */
    0 0 14px 9px #0ff; /* outer cyan */
}

#p_two {
  border-radius: 50%;
  background-color: black;
  box-shadow:
    0 0 6px 3px black,  /* inner white */
    0 0 10px 6px green, /* middle magenta */
    0 0 14px 9px #0ff; /* outer cyan */
}

body {
   background-image: url("../img/stars.png");
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

h1 { 
    font-family: 'Montserrat', sans-serif;
    font-size:3em;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: yellow;
    text-shadow: 8px 8px #ff1f8f, 20px 20px #000000;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size:1em;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
    text-shadow: 8px 8px blue;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size:1em;
    letter-spacing:0.1em;
    border-radius: 10%;
    background-color: black;
    color: white;
}